.mixin.out/
/astralsorcery
bendspacks/
cache/
config/AppliedEnergistics2/items.csv
config/jei/bookmarks.ini
config/multimob/modInformation/
config/serversync/
config/tlf/*.errored
config/vanillafix/methods-stable_39.csv
config/moresoundconfig.cfg
coremods/
crash-reports/
fonts/
llibrary/
logs/
mods/
MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump/
opframe_cache/
raidersWhitelist/
resourcepacks/
saves/
screenshots/
server-resource-packs/
structures/
structurize/
texturepacks/
.ReAuth.cfg
servers.dat
usercache.json
usernamecache.json
config/multimob/modInformation/allBlockStates.txt
ModUpdaterPack.json
patchouli_data.json
options.txt
icon.png
config/AppliedEnergistics2/CustomRecipes.cfg
config/InvTweaks.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/jei/worldSettings.cfg
config/ichunutil.cfg
config/splash.properties
minemenu/menu.json
config/tickdynamic.cfg
config/LagGoggles-server.cfg
config/LagGoggles-client.cfg
