# Configuration file

entitiesalwaysinfernal {
    B:EntityAbyssalZombie=false
    B:EntityAshen=false
    B:EntityBabySpider=false
    B:EntityBlackBear=false
    B:EntityBlueSlime=false
    B:EntityBrainyZombie=false
    B:EntityBrute=false
    B:EntityCanisCampestris=false
    B:EntityCaveSpider=false
    B:EntityCreeper=false
    B:EntityCryptkeeper=false
    B:EntityCultistPortalLesser=false
    B:EntityDepthsGhoul=false
    B:EntityDweller=false
    B:EntityEnchantedBook=false
    B:EntityEnderman=false
    B:EntityEvilChicken=false
    B:EntityEvilCow=false
    B:EntityEvilSheep=false
    B:EntityEvilpig=false
    B:EntityFeralGhoul=false
    B:EntityFlameSpewer=false
    B:EntityGeist=false
    B:EntityGhoul=false
    B:EntityGoblin=false
    B:EntityGorgomite=false
    B:EntityGuardian=false
    B:EntityHammerHead=false
    B:EntityHarpy=false
    B:EntityHauntedTool=false
    B:EntityIllagerPiper=false
    B:EntityKarateZombie=false
    B:EntityLobber=false
    B:EntityMotherSpider=false
    B:EntityPech=false
    B:EntityPigZombie=false
    B:EntityPyromaniac=false
    B:EntityRaider=false
    B:EntityRaiderWitch=false
    B:EntityRocketCreeper=false
    B:EntityShadowBeast=false
    B:EntityShadowCreature=false
    B:EntityShadowMonster=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntitySupportCreeper=false
    B:EntityTarSlime=false
    B:EntityTroll=false
    B:EntityTrollager=false
    B:EntityTweaker=false
    B:EntityVex=false
    B:EntityWendigo=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitherSkeleton=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
}


entitybasehealth {
    D:EntityAshen=20.0
    D:EntityBabySpider=8.0
    D:EntityBrainyZombie=25.0
    D:EntityBrute=45.0
    D:EntityEnchantedBook=20.0
    D:EntityEnderman=40.0
    D:EntityEvilCow=15.0
    D:EntityEvilpig=15.0
    D:EntityFeralGhoul=16.0
    D:EntityFlameSpewer=20.0
    D:EntityGoblin=20.0
    D:EntityHammerHead=20.0
    D:EntityHauntedTool=0.10000000149011612
    D:EntityIllagerPiper=20.0
    D:EntityKarateZombie=20.0
    D:EntityLobber=40.0
    D:EntityMotherSpider=30.0
    D:EntityPech=30.0
    D:EntityPyromaniac=20.0
    D:EntityRaider=20.0
    D:EntityRaiderWitch=25.0
    D:EntityShadowCreature=20.0
    D:EntitySkeleton=80.0
    D:EntitySlime=1.0
    D:EntitySpider=16.0
    D:EntitySupportCreeper=20.0
    D:EntityTarSlime=16.0
    D:EntityTrite=7.150000095367432
    D:EntityTroll=50.0
    D:EntityWendigo=40.0
    D:EntityWitherSkeleton=80.0
    D:EntityZombie=20.0
    D:EntityZombieVillager=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # List of DimensionIDs where InfernalMobs will NEVER spawn
    S:dimensionIDBlackList=

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:EntityAbyssalZombie=true
    B:EntityAshen=true
    B:EntityBabySpider=true
    B:EntityBlackBear=true
    B:EntityBlueSlime=true
    B:EntityBrainyZombie=true
    B:EntityBrute=true
    B:EntityCanisCampestris=true
    B:EntityCaveSpider=true
    B:EntityCreeper=true
    B:EntityCryptkeeper=true
    B:EntityCultistPortalLesser=true
    B:EntityDepthsGhoul=true
    B:EntityDweller=true
    B:EntityEnchantedBook=true
    B:EntityEnderman=true
    B:EntityEvilChicken=true
    B:EntityEvilCow=true
    B:EntityEvilSheep=true
    B:EntityEvilpig=true
    B:EntityFeralGhoul=true
    B:EntityFlameSpewer=true
    B:EntityGeist=true
    B:EntityGhoul=true
    B:EntityGoblin=true
    B:EntityGorgomite=true
    B:EntityGuardian=true
    B:EntityHammerHead=true
    B:EntityHarpy=true
    B:EntityHauntedTool=true
    B:EntityIllagerPiper=true
    B:EntityKarateZombie=true
    B:EntityLobber=true
    B:EntityMotherSpider=true
    B:EntityPech=true
    B:EntityPigZombie=true
    B:EntityPyromaniac=true
    B:EntityRaider=true
    B:EntityRaiderWitch=true
    B:EntityRocketCreeper=true
    B:EntityShadowBeast=true
    B:EntityShadowCreature=true
    B:EntityShadowMonster=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntitySupportCreeper=true
    B:EntityTarSlime=true
    B:EntityTroll=true
    B:EntityTrollager=true
    B:EntityTweaker=true
    B:EntityVex=true
    B:EntityWendigo=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitherSkeleton=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
}


